@model ProductCreateVM

@{
    ViewData["Title"] = "Create";
}


<div class="container mt-5">
    <h3 class="text-center text-dark">Create New Product</h3>
    <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
           <label>Name</label>
            <input asp-for="Name" class="form-control text-black" maxlength="20">
            <span class="text-danger" asp-validation-for="Name"></span>
            <label class="mt-4">Description</label>
            <input asp-for="Description" class="form-control text-black" maxlength="20">
            <span class="text-danger" asp-validation-for="Description"></span>
            <label class="mt-4">Price</label>
            <input asp-for="Price" type="number" min="0" step="any" class="form-control text-black " maxlength="20">
            <span class="text-danger" asp-validation-for="Price"></span>
          
            <label class="mt-4">Category</label>
            <select class="form-control text-black" asp-for="CategoryId" asp-items="@ViewBag.categories">
               
            </select>
            <label class="mt-4">Images</label>
            <input asp-for="Images" class="form-control">
            <span class="text-danger" asp-validation-for="Images"></span>
        </div>


        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a asp-action="Index" class="btn btn-primary text-white">Back</a>
    </form>
</div>
