@using BackendMiniTask.ViewModels.Sliders
@model SliderCreateVM

@{
    ViewData["Title"] = "Create";
}


<div class="container mt-5">
    <h3 class="text-center text-dark">Create New Slider</h3>
    <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">

           <label>Title</label>
            <input asp-for="Title" class="form-control text-black" maxlength="50">
            <span class="text-danger" asp-validation-for="Title"></span>
            
            <label class="mt-4">SubTitle</label>
            <input asp-for="SubTitle" class="form-control text-black" maxlength="20">
            <span class="text-danger" asp-validation-for="SubTitle"></span>

            <label class="mt-4">Description</label>
            <input asp-for="Description" class="form-control text-black" maxlength="20">
            <span class="text-danger" asp-validation-for="Description"></span>
            
            <label class="mt-4">Image</label>
            <input asp-for="Image" class="form-control">
            <span class="text-danger" asp-validation-for="Image"></span>
        </div>


        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a asp-action="Index" class="btn btn-primary text-white">Back</a>
    </form>
</div>
