@model Slider

<div class="container mt-5 mx-3">

    <p><b>Title</b>: @Model.Title</p>
    <p><b>Subtitle</b>: @Model.SubTitle</p>
    <img  src="~/assets/images/@Model.Image" width=378px; />

    <div class=mt-4>

        <a class="btn btn-primary" asp-area="Admin" asp-controller="Slider" asp-action="Index">Back</a>
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Slider" asp-route-id="@Model.Id" asp-action="Update">Update</a>
        <a class="btn btn-danger" asp-area="Admin" asp-controller="Slider" asp-route-id="@Model.Id" asp-action="Delete">Delete</a>
    </div>
</div>