@using BackendMiniTask.ViewModels.Categories
@model CategoryCreateVM




<div class="container mt-5">
    <h3 class="text-center text-dark">Create New Category</h3>
    <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">

           <label>Name</label>
            <input asp-for="Name" class="form-control text-black" maxlength="50">
            <span class="text-danger" asp-validation-for="Name"></span>
            
            <label class="mt-4">Image</label>
            <input asp-for="Image" class="form-control">
            <span class="text-danger" asp-validation-for="Image"></span>
        </div>


        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a asp-action="Index" class="btn btn-primary text-white">Back</a>
    </form>
</div>
