@model CategoryUpdateVM


<div class="container mt-5">
    <h3 class="text-center text-dark">Update Category</h3>

     <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <img  src="~/assets/images/@Model.Image" style="width:200px; height:200px;object-fit:cover"/>
                    <input asp-for="Image" type="hidden" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Photo">Choose new Photo</label>
                    <input asp-for="Photo" class="form-control" placeholder="Photo">
                    <span class="text-danger" asp-validation-for="Photo"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a asp-action="Index" asp-controller="Category" class="btn btn-light">Cancel</a>
            </form>
</div>
