* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #55585b;
  line-height: 26px;
}

a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: #010f1c;
  margin-top: 0px;
  font-weight: 700;
  line-height: 1.2;
  -kit-transition: color 0.3s 0s ease-out;
  -moz-transition: color 0.3s 0s ease-out;
  -ms-transition: color 0.3s 0s ease-out;
  -o-transition: color 0.3s 0s ease-out;
  transition: color 0.3s 0s ease-out;
}
.z-index-1 {
  z-index: 1;
}
h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

ul {
  margin: 0px;
  padding: 0px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #55585b;
  margin-bottom: 15px;
  line-height: 26px;
}

.footer-top {
  padding-block: 95px 40px;
}

.footer-widget {
  margin-bottom: 50px;
}

.footer-widget-title {
  font-weight: 700;
  font-size: 20px;
  color: #010f1c;
  margin-bottom: 10px;
}

.footer-col-1 {
  gap: 22px;
  padding-right: 95px;
}

.footer-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44;
  color: #010f1c;
}

.footer-socials {
  gap: 5px;
}

.footer-socials a {
  display: inline-block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background: #fff;
  box-shadow: 0 1px 1px rgba(1, 15, 28, 0.2);
  border-radius: 6px;
  transition: all 0.3s ease;
}

.footer-socials a:hover {
  color: #fff;
}

.footer-widget-content-list {
  gap: 8px;
}

.footer-widget-content-list a {
  font-weight: 500;
  font-size: 14px;
  position: relative;
  padding-left: 10px;
  transition: all 0.3s ease;
}

.footer-widget-content-list a:before {
  position: absolute;
  content: "";
  left: 0;
  top: 7px;
  height: 3px;
  width: 3px;
  border-radius: 50%;
}

.footer-col-3 {
  padding-left: 35px;
}

.footer-talk {
  margin-bottom: 20px;
}

.footer-talk span {
  font-size: 14px;
  display: inline-block;
}

.number {
  font-weight: 700;
  font-size: 22px;
  color: #010f1c;
  transition: all 0.3s ease;
}

.footer-contact-item {
  gap: 10px;
}

.footer-contact-content a {
  font-size: 16px;
  line-height: 20px;
  transition: all 0.3s ease;
}


.copyright {
  font-size: 14px;
  margin-bottom: 0;
}


.bookmark {
  display: inline-block;
  width: 44px;
  position: fixed;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  right: 50px;
  z-index: 100;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #010f1c;
  box-shadow: 0 8px 16px rgba(3, 4, 28, 0.3);
  color: #fff;
  border-radius: 50%;
}

.bookmark:hover {
  color: #fff;
}

.bookmark.show {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: none;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}
.p-relative {
  position: relative;
}
.mb-40 {
  margin-bottom: 40px;
}
.pt-15 {
  padding-top: 15px;
}
.mb-45 {
  margin-bottom: 45px;
}
.pt-100 {
  padding-top: 100px;
}
.pb-50 {
  padding-bottom: 50px;
}
.mt-35 {
  margin-bottom: 35px;
}
.pt-95 {
  padding-top: 95px;
}
.pb-120 {
  padding-bottom: 120px;
}
.pb-100 {
  padding-bottom: 100px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-20 {
  margin-bottom: 20px;
}
.tp-product-action-2 {
  position: absolute;
  left: 0;
  top: 57px;
  right: auto;
  bottom: auto;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.tp-product-item-2:hover .tp-product-action-2 {
  left: 24px;
  visibility: visible;
  opacity: 1;
}
.tp-product-action-btn-2 {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 18px;
  color: #010f1c;
  background-color: #ffffff;
  border-bottom: 0;
  box-shadow: 0px 1px 2px rgba(1, 15, 28, 0.2);
  border-radius: 50%;
  margin-bottom: 6px;
}
.tp-product-tooltip {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  right: 100%;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  background-color: #010f1c;
  display: inline-block;
  width: max-content;
  line-height: 1;
  padding: 4px 6px;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.tp-product-action-btn-2:hover .tp-product-tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateX(8px) translateY(-50%);
}
.tp-product-action-blackStyle .tp-product-action-btn-2:hover {
  background-color: #010f1c;
}
.tp-product-action-btn-2:hover {
  color: #ffffff;
  background-color: #010f1c;
}
.headerrr a {
  font-size: 15px;
  color: rgba(1, 15, 28, 0.8);
}
.headerrr:not(:last-child) {
  padding-right: 20px;
  margin-right: 20px;
}
.headerrr {
  position: relative;
}
.headerrr:not(:last-child)::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  width: 1px;
  height: 20px;
  background-color: rgba(1, 15, 28, 0.1);
  transform: translateY(-50%);
}
.tp-header-style-primary .headerrr a span {
  color: #0989ff;
}
.headerrr a span {
  color: #0989ff;
  margin-right: 5px;
}
.tp-header-style-primary .headerrr a span {
  color: #0989ff;
}
header {
  border-bottom: 1px solid rgba(1, 15, 28, 0.1);
  padding: 7px 0;
}
.tp-header-style-primary .headerrr a:hover {
  color: #0989ff;
}

header .dropdown .btn-secondary {
  font-size: 14px;
  color: #010f1c;
  padding: 0px !important;
  width: 100%;
  text-align: left;
}

.tp-header-top-black .tp-header-top-menu-item {
  padding-left: 0;
  font-size: 14px;
  color: #010f1c;
}
.header_drop {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.header_drop p {
  padding-left: 0;
  font-size: 14px;
  color: #010f1c;
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  padding-right: 20px;
  margin-bottom: 0 !important;
}

.header_drop p::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  width: 1px;
  height: 20px;
  background-color: rgba(1, 15, 28, 0.1);

  transform: translateY(-50%);
}

.header_drop p:last-child::after {
  background-color: transparent;
}
#nav {
  padding: 15px 0;
  box-shadow: -6px 12px 5px -13px rgba(0, 0, 0, 0.75);
}
.mega-menu-main {
  position: relative;
  width: 100%;
}
.mega-menu-item {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: 0.3s;
}
.mega-menu-item .mega_menu_hb {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: 0.3s;
}
.mega-menu-item {
  opacity: 0;
}
.mega-menu-main > nav > ul > li:hover > .mega-menu-item {
  opacity: 1;
}

.main-menu > nav > ul > li {
  position: relative;
  list-style: none;
  display: inline-block;
  margin-right: 27px;
}
.main-menu > nav > ul > li.has-mega-menu {
  position: static;
}
.main-menu > nav > ul > li > a {
  display: inline-block;
  font-size: 16px;
  color: #010f1c;
  padding: 23px 0;
}
.main-menu > nav > ul > li.drop > a {
  position: relative;
}
.main-menu > nav > ul > li > .tp-submenu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background: #ffffff;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 30px 70px 0px rgba(11, 6, 70, 0.08);
  padding: 12px 25px 20px;
  transform-origin: top;
  transition-duration: 0.1s;
}
.main-menu > nav > ul > li > .tp-submenu li {
  display: block;
  width: 100%;
  margin: 0;
}
.main-menu > nav > ul > li > .tp-submenu li:not(:last-child) {
  margin-right: 0;
}
.main-menu > nav > ul > li > .tp-submenu li.drop > a::after {
  position: absolute;
  right: 0;
  font-size: 14px;
  color: #010f1c;
  font-weight: 400;
  margin-left: 5px;
  display: inline-block;
}
.main-menu > nav > ul > li > .tp-submenu li a {
  padding: 3px 0;
  font-size: 14px;
  position: relative;
  z-index: 1;
  color: #55585b;
  width: 100%;
  display: block;
}
.main-menu > nav > ul > li > .tp-submenu li > .tp-submenu {
  left: 120%;
  top: 0;
  visibility: hidden;
  opacity: 0;
}
.main-menu > nav > ul > li > .tp-submenu li:hover > a {
  color: #0989ff;
}
.main-menu > nav > ul > li > .tp-submenu li:hover > a::after {
  color: #0989ff;
}
.main-menu > nav > ul > li .tp-mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 20px 30px rgba(1, 15, 28, 0.1);
  z-index: 9;
  padding: 20px 20px 0;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.1s;
  transform-origin: top;
  transform: perspective(300px) rotateX(-18deg);
}
.main-menu > nav > ul > li .tp-mega-menu.mega-menu-style-2 {
  padding: 25px 40px 0;
}
.main-menu > nav > ul > li .tp-mega-menu li {
  margin-bottom: 35px;
  float: left;
  width: 25%;
  overflow: hidden;
}
.main-menu > nav > ul > li .tp-mega-menu li.drop > a::after {
  display: none;
}
.main-menu > nav > ul > li .tp-mega-menu li .mega-menu-title {
  font-size: 16px;
  color: #010f1c;
  display: block;
  margin-bottom: 7px;
}
.main-menu > nav > ul > li .tp-mega-menu ul li {
  float: none;
  width: 100%;
  line-height: 1;
  margin-bottom: 0;
}
.main-menu > nav > ul > li .tp-mega-menu ul li:not(:last-child) {
  margin-bottom: 9px;
}
.main-menu > nav > ul > li .tp-mega-menu .tp-submenu {
  transition: all 0.3s 0s ease-out;
}
.main-menu > nav > ul > li:hover > a {
  color: #0989ff;
}
.main-menu > nav > ul > li:hover > a::after {
  color: #0989ff;
}
.main-menu > nav > ul > li:hover > .tp-submenu {
  visibility: visible;
  opacity: 1;
  transition-duration: 0.2s;
  transform: perspective(300px) rotateX(0deg);
}
.main-menu > nav > ul > li:hover > .tp-mega-menu {
  visibility: visible;
  opacity: 1;
  transition-duration: 0.2s;
  transform: perspective(300px) rotateX(0deg);
}
.main-menu > nav > ul > li:hover > .tp-mega-menu .tp-submenu {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.main-menu.menu-style-1 {
  padding-left: 7px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (min-width: 576px) and (max-width: 767px),
  (max-width: 575px) {
  .main-menu.menu-style-1 {
    padding-left: 0;
    margin-right: -40px;
  }
}
.main-menu.menu-style-1 > nav > ul > li {
  display: inline-block;
}
.main-menu.menu-style-1 > nav > ul > li:not(:last-child) {
  margin-right: 25px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-menu.menu-style-1 > nav > ul > li:not(:last-child) {
    margin-right: 20px;
  }
}
.main-menu.menu-style-1 > nav > ul > li > a {
  font-weight: 500;
  font-size: 14px;
  color: #010f1c;
  padding: 11px 0;
}
.main-menu.menu-style-1 > nav > ul > li:hover > a {
  color: #0989ff;
}
.main-menu.menu-style-2 {
  margin-left: -30px;
}
.main-menu.menu-style-2 > nav > ul > li {
  margin-right: 20px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .main-menu.menu-style-2 > nav > ul > li {
    margin-right: 15px;
  }
}
.main-menu.menu-style-2 > nav > ul > li > a {
  padding: 22px 0;
}
.main-menu.menu-style-2 > nav > ul > li:hover > a {
  color: #821f40;
}
.main-menu.menu-style-2 > nav > ul > li:hover > a::after {
  color: #821f40;
}
.main-menu.menu-style-2 > nav > ul > li .tp-submenu li:hover > a {
  color: #821f40;
}
.main-menu.menu-style-2 > nav > ul > li .tp-submenu li:hover > a::after {
  color: #821f40;
}
.main-menu.menu-style-2 > nav > ul > li .home-menu-title a:hover {
  color: #821f40;
}
.main-menu.menu-style-2 > nav > ul > li .home-menu-item:hover .home-menu-title {
  color: #821f40;
}
.main-menu.menu-style-2 .tp-menu-showcase-btn-2 {
  border-radius: 0;
  background-color: #821f40;
}
.main-menu.menu-style-3 > nav > ul > li {
  text-align: left;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .main-menu.menu-style-3 > nav > ul > li {
    margin-right: 20px;
  }
}
.main-menu.menu-style-3 > nav > ul > li > a {
  padding: 17px 0;
  color: #ffffff;
}
.main-menu.menu-style-3 > nav > ul > li.drop > a::after {
  color: #ffffff;
}
.main-menu.menu-style-3 > nav > ul > li.tp-menu-line {
  position: absolute !important;
  margin: 0;
  text-align: initial;
  display: block;
}
.main-menu.menu-style-3 > nav > ul > li:hover > a {
  color: #ffffff;
}
.main-menu.menu-style-3 > nav > ul > li:hover > a::after {
  color: #ffffff;
}
.main-menu.menu-style-3 > nav > ul > li .home-menu-title a:hover {
  color: #bd844c;
}
.main-menu.menu-style-3 > nav > ul > li .home-menu-item:hover .home-menu-title {
  color: #bd844c;
}
.main-menu.menu-style-3 > nav > ul > li .tp-submenu {
  text-align: left;
}
.main-menu.menu-style-3 > nav > ul > li .tp-submenu li:hover > a {
  color: #bd844c;
}
.main-menu.menu-style-3 > nav > ul > li .tp-submenu li:hover > a::after {
  color: #bd844c;
}
.main-menu.menu-style-3 .tp-menu-showcase-btn-2 {
  border-radius: 0;
  background-color: #bd844c;
}
.main-menu.menu-style-3.menu-style-4 > nav > ul > li {
  text-align: left;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .main-menu.menu-style-3.menu-style-4 > nav > ul > li {
    margin-right: 20px;
  }
}
.main-menu.menu-style-3.menu-style-4 > nav > ul > li > a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}
.main-menu.menu-style-3.menu-style-4 > nav > ul > li.drop > a::after {
  color: rgba(255, 255, 255, 0.8);
}
.main-menu.menu-style-3.menu-style-4 > nav > ul > li:hover > a {
  color: #ffffff;
}
.main-menu.menu-style-3.menu-style-4 > nav > ul > li:hover > a::after {
  color: #ffffff;
}
.main-menu.menu-style-3.menu-style-4 > nav > ul > li .tp-submenu {
  text-align: left;
}
.main-menu.menu-style-3.menu-style-4 > nav > ul > li .tp-submenu li a {
  color: #010f1c;
}
.main-menu.menu-style-3.menu-style-4
  > nav
  > ul
  > li
  .tp-submenu
  li.drop
  > a::after {
  color: #010f1c;
}
.main-menu.menu-style-3.menu-style-4 > nav > ul > li .tp-submenu li:hover > a {
  color: #bd844c;
}
.main-menu.menu-style-3.menu-style-4
  > nav
  > ul
  > li
  .tp-submenu
  li:hover
  > a::after {
  color: #bd844c;
}

.home-menu-item {
  text-align: center;
  margin-bottom: 22px;
}
.home-menu-item a {
  border: 0 !important;
  padding: 0 !important;
}
.home-menu-item:hover .home-menu-thumb {
  box-shadow: none;
}
.home-menu-item:hover .home-menu-thumb::after {
  opacity: 1;
  visibility: visible;
}
.home-menu-item:hover .home-menu-title {
  color: #0989ff;
}
.home-menu-item .menu-text {
  display: none !important;
}
.home-menu-thumb {
  position: relative;
  margin-bottom: 10px;
  box-shadow: 0px 2px 6px rgba(1, 15, 28, 0.2);
}
.home-menu-thumb img {
  transition: transform 0.2s 0s ease-out;
  max-width: 100%;
}

.home-menu-title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
}
.home-menu-title a:hover {
  color: #0989ff;
}

.shop-mega-menu {
  padding: 30px 40px 0 !important;
  padding-bottom: 30px !important;
}
.shop-mega-menu-title {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #eee;
  padding-bottom: 7px;
  margin-bottom: 15px;
  display: block;
  color: #010f1c;
}
.shop-mega-menu-img {
  position: relative;
  overflow: hidden;
  height: calc(100% - 30px);
}
.shop-mega-menu-img:hover img {
  transform: scale(1.1);
}
.shop-mega-menu-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropdown_menu_ts {
  position: relative;
  font-weight: 500;
  font-size: 14px;
}

ul.show > li:nth-child(2) > ul:nth-child(2) {
  position: absolute;
  left: 100%;
  background: #fff;
  padding: 10px;
  top: 0;
  font-weight: 500;
  font-size: 14px;
}
.dropdown_menu_ts ul {
  opacity: 0;
  transition: 0.5s;
}
.dropdown_menu_ts:hover ul {
  opacity: 1;
}
.dropdown-item {
  font-weight: 500 !important;
  font-size: 14px !important;
}

.btn-secondary {
  font-weight: 500 !important;
  font-size: 14px !important;
}

.btn-secondary {
  padding: 12px 30px;
  width: 100%;
  text-align: left;
}

.dropdown-toggle::after {
  border-top: 0 !important;
}

.dropdown-menu {
  font-weight: 500 !important;
  font-size: 14px !important;
}

.header_bottom .btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}
nav ul:first-child li {
  margin-right: 20px;
}
.tp-header-contact {
  display: flex;
  justify-content: end;
  align-items: top;
  gap: 5px;
}
.tp-header-contact-content h5 {
  color: #55585b;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: -5px;
  line-height: 1;
}
.tp-header-contact:hover svg {
  color: #0989ff;
}
.tp-header-contact-content h4 a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}
.tp-header-contact-content h4 a:hover {
  color: #0989ff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}
.area-cont-remeber label {
  font-size: 15px;
  color: #55585b;
  position: relative;
  z-index: 1;
}

.area-cont-remeber label::before {
  position: absolute;
  content: url("../images/check.svg");
  top: 4px;
  left: 0;
  width: 18px;
  height: 18px;
  line-height: 16px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  color: #ffffff;
}
label {
  display: inline-block;
}
.area-cont-btn {
  font-size: 16px;
  color: #ffffff;
  background-color: #010f1c;
  padding: 9px 30px;
  display: inline-block;
  transition: 0.3s;
}
.area-cont-btn:hover {
  color: #ffffff;
  background-color: #0989ff;
}
.breadcrumb__list span:not(:last-child) {
  padding-right: 12px;
  margin-right: 5px;
}
.breadcrumb__list span:not(:last-child)::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  width: 4px;
  height: 4px;
  background-color: #a8acb0;
  border-radius: 50%;
}
.breadcrumb__list span {
  font-weight: 400;
  font-size: 16px;
  position: relative;
}
.breadcrumb__list span a:hover {
  color: #0989ff;
}
.area-cont-wrapper {
  margin-right: 73px;
}

footer {
  padding: 95px 0 0 0;
  background-color: #f4f7f9;
}
footer p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44;
  color: #010f1c;
  margin-bottom: 22px;
}
footer ul li a {
  font-weight: 500;
  font-size: 14px;
  color: #55585b;
  position: relative;
  padding-left: 10px;
}
footer ul li a::after {
  position: absolute;
  content: "";
  left: 0;
  top: 12px;
  width: 3px;
  height: 3px;
  background-color: #55585b;
  border-radius: 50%;
}
footer a img {
  padding-bottom: 22px;
}
footer h2 {
  font-weight: 700;
  font-size: 20px;
  color: #010f1c;
  margin-bottom: 10px;
}
.footer_icon a {
  display: inline-block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(1, 15, 28, 0.2);
  border-radius: 6px;
}
.footer_icon a:hover {
  background-color: #0989ff;
  color: #ffffff;
  box-shadow: none;
}
.fooooter-contact-content p {
  font-size: 16px;
  line-height: 20px;
  color: #55585b;
}
.fooooter-contact-item {
  gap: 10px;
}
.fooooter-contact-item a:hover {
  color: #0989ff;
}
footer ul li a:hover {
  color: #0989ff;
}
.footer_bottom {
  margin-top: 40px;
  border-top: 1px solid #eae4de;
  padding-top: 18px;
  padding-bottom: 40px;
}
.footer_bottom p {
  font-size: 14px;
  font-weight: 400;
  color: #888a8c;
  margin-bottom: 15px;
  line-height: 26px;
}
.footer_bottom p a {
  color: #0989ff;
}

.menu_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  animation: bg 2s;
  background-color: #ffffff;
  z-index: 11;
  padding: 20px 0;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
@keyframes bg {
  0% {
    top: -50px;
  }
  100% {
    top: 0px;
  }
}

@media (max-width: 575.98px) {
  #nav {
    padding: 20px 0;
  }
  nav ul li a {
    font-weight: 500;
    font-size: 14px;
    color: #010f1c;
    padding: 11px 0;
  }

  .footer_item {
    padding-bottom: 20px;
  }
}

@media (max-width: 991.98px) {
  #nav {
    padding: 20px 0;
  }
  nav ul li a {
    font-weight: 500;
    font-size: 14px;
    color: #010f1c;
    padding: 11px 0;
  }

  .btn-primary {
    background: transparent;
    border: transparent;
    color: #7d7f82;
  }
  .btn:hover {
    background: transparent;
    border: transparent;
    color: #7d7f82;
  }

  .footer_item {
    padding-bottom: 20px;
  }
}

@media (max-width: 1199.98px) {
  .tp-product-rating-text span {
    font-size: 11px !important;
  }

  .tp-product-title a {
    font-size: 12px !important;
    line-height: 1.32;
  }
}

@media (max-width: 1399.98px) {
  #nav {
    padding: 20px 0;
  }
  #nav ul li a {
    font-weight: 500;
    font-size: 14px;
    color: #010f1c;
    padding: 11px 0;
  }

  .btn-primary {
    background: transparent;
    border: transparent;
    color: #7d7f82;
  }
  .btn:hover {
    background: transparent;
    border: transparent;
    color: #7d7f82;
  }

  .tp-shop-top .btn-check:checked + .btn,
  .btn.active,
  .btn.show,
  .btn:first-child:active,
  :not(.btn-check) + .btn:active {
    min-width: 0px !important;
  }

  .tp-shop-top-left {
    margin-bottom: 20px;
  }

  .footer_item {
    padding-bottom: 20px;
  }
}

.tp-header-search-2 input {
  background: #f8f8f8;
  border: 1px solid rgba(1, 15, 28, 0.1);
  height: 46px;
  padding-left: 24px;
  padding-right: 50px;
  width: 100%;
  margin-right: 30px;
}
.tp-header-search-2 button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 24px;
}

.tp-product-add-to-cart-4 svg,
.tp-best-add-to-cart-btn svg,
.tp-category-add-to-cart-4 svg,
.fooooter-contact-icon span svg,
.tp-header-search-2 button svg {
  transform: translateY(-3px);
}
.tp-header-search-2 {
  width: 100%;
  position: relative;
}
.tp-header-bottom-right {
  gap: 30px;
}
.tp-header-action-btn {
  font-size: 20px;
  color: #010f1c;
  position: relative;
  display: inline-block;
}
.tp-header-action-badge {
  position: absolute;
  top: -6px;
  right: -13px;
  display: inline-block;
  width: 23px;
  height: 23px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #0989ff;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  border: 2px solid #ffffff;
}

.tp-header-style-primary .tp-header-action-badge {
  background-color: #0989ff;
}
.tp-header-action-btn:hover {
  color: #0989ff;
}
.tp-header-action {
  gap: 30px;
}

.area-cont-input-box:not(:last-child) {
  margin-bottom: 34px;
}
.area-cont-input-box {
  position: relative;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
input[type="url"],
textarea {
  outline: none;
  background-color: #fff;
  height: 56px;
  width: 100%;
  line-height: 56px;
  font-size: 14px;
  color: #010f1c;
  padding-left: 26px;
  padding-right: 26px;
  border: 1px solid #e0e2e3;
}
.area-cont-input-title label {
  font-size: 14px;
  color: #010f1c;
  position: absolute;
  top: -7px;
  left: 20px;
  padding: 0 5px;
  background-color: #ffffff;
  line-height: 1;
}
.area-cont-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 35px;
  font-family: "Jost", sans-serif;
}
.area-cont-input textarea {
  height: 165px;
  resize: none;
}
textarea {
  line-height: 1.4;
  padding-top: 17px;
  padding-bottom: 17px;
}
.breadcrumb__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 1;
  margin-bottom: 6px;
}
.area-cont-inner {
  padding: 42px 70px 49px;
  background: #ffffff;
  box-shadow: 0px 30px 70px rgba(1, 15, 28, 0.1);
}

.area-cont-info-content p[data-info="mail"] {
  color: #55585b;
  margin-bottom: 0;
}
.area-cont-info-content p {
  font-size: 18px;
  line-height: 1.44;
  color: #010f1c;
}
p {
  font-size: 14px;
  font-weight: 400;
  color: #55585b;
  margin-bottom: 15px;
  line-height: 26px;
}
.area-cont-social-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
}
.area-cont-info-icon {
  display: flex;
  align-items: end;
  justify-content: start;
  margin-bottom: 18px;
  height: 62px;
}
.area-cont-info-item:not(:last-child) {
  margin-bottom: 38px;
}
.area-cont-social-icon a {
  display: inline-block;
  width: 38px;
  height: 38px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #e6e7e8;
  background-color: #ffffff;
  color: #010f1c;
  transition: 0.3s;
}
.area-cont-social-icon a:hover {
  background-color: #0989ff;
  border-color: #0989ff;
  color: #ffffff;
}
.area-cont-input input {
  height: 56px;
  background: #ffffff;
  border: 1px solid #e0e2e3;
  font-size: 14px;
  color: #010f1c;
}